.property-details {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.slider-location {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.property-info {
    margin-top: 20px;
}

.property-location {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.property-info-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.info-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.property-description {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.amenity {
    background-color: #3dff4d;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.cancellation-policy {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.property-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f8e7b5;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-top: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.property-pricing h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.property-pricing .dates {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.property-pricing .total-value {
    font-weight: 700;
    font-size: 22px;
    color: #ff5a5f;
    margin-top: 10px;
}

.value-item {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.tax-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 5px 0;
    font-size: 16px;
}

.tax-name {
    font-weight: bold;
    text-decoration: underline;
}

.line-div {
    text-decoration: underline;
    width: auto;
}

.tax-value {
    color: #333;
    font-weight: normal;
}

.property-pricing .btn-reserve {
    background-color: #ff5a5f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.property-pricing .btn-reserve:focus {
    outline: none;
}