.property-details {
    position: relative;
    font-family: Arial, sans-serif;
    padding: 20px;
    width: calc(100vw - 265px);
    align-items:flex-start;
    box-sizing: border-box; /* Garante que o padding não aumente a altura */
}

.property-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.slider-location {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão de Reservado */
.status {
    display: flex;
    justify-content: flex-start;
}

.reserved-btn {
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
}

.property-info {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.property-right {
    margin: auto; /* Empurra o elemento para a direita */
}

.property-right-info {
    background-color: #ecb9fabf;
    margin: auto; /* Empurra o elemento para a direita */
    padding: 40px;
    border: 2px solid black;
}


.property-right h2{
    margin-top: 0px;
}

.amenities-list {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
    margin: 0;
}

.amenities-list li {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.amenities-list li i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #f26d21; /* Cor do ícone */
}

.property-details p {
    margin-top: 10px;
    color: #555;
}

.property-details h1 {
    margin-top: 10px;
    color: #555;
}

.property-details h2 {
    margin-top: 20px;
}

.property-details h3 {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between; /* Alinha um botão à esquerda e outro à direita */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    margin-top: 10px;
}

.prevBtn, .nextBtn {
    background-color: #39a905;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 2px 10px;
    border: none;
    color: white;
    font-size: 16px;
}

.prevBtn:hover, .nextBtn:hover {
    background-color: #2b7a07;
}

.btn-edit {
    background-color: #e0590b;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content; 
    align-self: flex-end;
    margin-left: auto;
    margin-top: 40px;
}

.btn-edit:hover{
    background-color: #8b3605;
    transition: 2ms;
}

/* Estilos para telas com largura de 800px ou menos */
@media (max-width: 800px) {
    .property-details {
        width: 100vw;
    }
}