/* Container principal */
.properties-section {
    margin: 20px 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: flex; /* Ativa o flexbox */
    flex-direction: column;
}

.properties-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Grid para os cartões */
.properties-grid {
    display: table-column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


