.container{
    position: relative;
    padding: 0px;
    display:flex;
    flex-direction:row;
    width: auto; /* Largura ajusta-se ao conteúdo */
    height: auto; /* Altura ajusta-se ao conteúdo */
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
}


