/*
.container{
    padding: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
}*/

.container{
    padding: 0px;
    display:flex;
    flex-direction:row;
}

main{
    width: 100%;
}


