
.img_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_box i{
    font-size: 24px; /* Ajuste conforme necessário */
    color: white; /* Ajuste conforme necessário */
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.profile h2{
    font-size: 20px;
    text-transform: capitalize;
    color: white; /* Ajuste conforme necessário */
}

.menu{
    position:relative;
    background-color: #f26d21;
    width: 250px;
    /*width: 90px;*/
    height: auto;
    padding: 20px;
    top: 0; /* Alinha no topo do pai */
    left: 0; /* Alinha à esquerda do pai */
    box-sizing: border-box; /* Garante que o padding não aumente a altura */
    overflow: hidden;
    transition: .5s;
    border-top-right-radius: 15px; /* Arredonda o canto superior direito */
    border-bottom-right-radius: 15px; /* Arredonda o canto inferior direito */
}



ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li .side-bar-a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 30px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    color: white; /* Ajuste conforme necessário */
}

ul li .side-bar-a:hover, td:hover, .data-info .box:hover{
    background-color: #3b48bb81;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a:hover{
    background-color: rgba(255, 3, 3, 0.657);
}
.log-out a{
    background-color: red;
}

ul li a i{
    font-size: 30px;
    color: 3px solid white;
}

.content{
    width: 100%;
    margin: 10px;
}
/* Estilos gerais */
.hamburger {
    display: none; /* Esconde o botão de menu hamburger por padrão */
}

/* Estilos para telas com largura de 800px ou menos */
@media (max-width: 800px) {
    .menu {
        display: none; /* Esconde o menu lateral */
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
        background-color: #f26d21;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .hamburger i {
        font-size: 24px;
        color: white;
    }

    .menu.active {
        display: block; 
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #f26d21;
        padding: 20px;
        box-sizing: border-box;
        transition: .5s;
        z-index: 999;
    }
}