/* Cartão */
.property-card {
    display: flex;
    flex-direction: column;
    background-color: #FBEFEF;
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Parte superior do cartão */
.top-side {
    display:flex;
    flex-direction: row;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    gap: 10px;
}

/* Imagem */
.image img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

/* Preço */
.price-content {
    white-space: nowrap;
    position: absolute;
    left: 47%;
    right: 50%;
    flex-direction: column;
    margin-top: 40px;
}

.active-price {
    font-size: 20px;
    color: #666;
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

/* Botões de ação */
.card-buttons {
    justify-self: end;
    align-items:start;
    align-content:end;
    display: flex;
    gap: 8px;
}

.card-buttons button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 28px;
}

.card-buttons  a{
    color: #666;
}

.card-buttons a:hover {
    color: #000;
}

/* Parte inferior do cartão */
.bottom-side {
    display:flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

/* Título */
.title {
    width: 400px;
}

/* Título */
.property-type {
    font-size: 20px;
    color: #888;
}

.location {
    font-size: 28px;
    font-weight: bold;
}

.more-details {
    white-space: nowrap;
    position: absolute;
    left: 45%;
    right: 50%;
}

/* Link "Ver Mais Detalhes" */
.more-details a {
    text-decoration: underline;
    font-size: 18px;
    color: #007bff;
}

.more-details a:hover {
    color: #04027d;
}

/* Botão de Reservado */
.status {
    position: absolute;
    align-items: flex-end;
    right: 0; /* Empurra totalmente para a direita */
    padding-top: 10px;
}

.reserved-btn {
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
}


/* Estilos para telas com largura de 800px ou menos */
@media (max-width: 800px) {
    /* Botão de Reservado */
.status {
    display: flex;
    position:relative;
}
.more-details {
    display: flex;
    white-space: nowrap;
    position:relative;
    left: auto;
    right: auto;
}
/* Preço */
.price-content {
    display: flex;
    white-space: nowrap;
    position: relative;
    left: auto;
    right: auto;
    flex-direction: column;
    margin-top: 40px;
}
/* Botões de ação */
.card-buttons {
    display: flex;
    position:relative;
    justify-self: end;
    align-items:start;
    align-content:flex-end;
    gap: 8px;
}
/* Imagem */
.image img {
    width: 150px;
    height: 120px;
}
}