* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26d21;
    padding: 10px 40px;
    font-family: Arial, sans-serif;
}

/* Logo */
.left-side .holistay_logo img {
    width: 200px;
    height: auto;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-side button {
    background-color: #f9b3c3;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.right-side button:hover {
    background-color: #f78ba6;
    transition: 2ms;
}
.right-side button a {
    text-decoration: none;
    color: #000;
    cursor: pointer;

}

.right-side .fa {
    font-size: 30px;
    color: #000;
    margin-left: 10px;
}

a {
    text-decoration: none;
    display: flex;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    align-items: center;
    gap: 5px
}

a:hover {
    color: #ffffff;
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .left-side .holistay_logo img {
        width: 150px;
    }

    .right-side {
        gap: 15px;
        margin-top: 10px;
    }

    .right-side button {
        padding: 10px 16px;
        font-size: 12px;
    }

    .right-side .fa-sign-in {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .left-side .holistay_logo img {
        width: 120px;
    }

    .right-side {
        flex-direction: column;
        gap: 10px;
    }

    .right-side button {
        width: 100%;
        text-align: center;
    }
}
